@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #49243E;
  position: relative;
}
body::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #E1AFD1;
  clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
}
.container{
  z-index: 12;
  max-width: 1050px;
  width: 100%;
  background: #E1AFD1;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(187, 45, 168, 0.79);
}
.container form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #E1AFD1;
}

.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  color: #E1AFD1;
}
.content .image-box{
  max-width: 55%;
}
.content .image-box img{
  width: 100%;
}
.content .topic{
  font-size: 22px;
  font-weight: 500;
  color: #49243E;
}
.content form{
  width: 40%;
  margin-right: 30px;
}
.content .inputBox{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .inputBox input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #49243E;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.content .inputBox input:focus,
.content .inputBox input:valid{
  border-color: #49243E;
  background-color: #fff;
}
.content .inputBox label{
  position: absolute;
  left: 18px;
  top: 50%;
  color: #49243E;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .inputBox input:focus ~ label,
.content .inputBox input:valid ~ label{
  top: 0;
  left: 12px;
  display: 14px;
  color: #49243E;
  background: #E1AFD1;
}
.content .inputBox textarea{
    position: absolute;
    height: 200%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: #49243E;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .content .inputBox textarea:focus,
  .content .inputBox textarea:valid{
    border-color: #49243E;
    background-color: #FFF;
  }
  .content .inputBox label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #49243E;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .content .inputBox textarea:focus ~ label,
  .content .inputBox textarea:valid ~ label{
    top: 0;
    left: 12px;
    display: 14px;
    color: #49243E;
    background: #E1AFD1;
  }
  .inputBox button{
    width: 50%;    
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgba(204, 102, 184, 0.378);
    color: #49243E;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.inputBox button:hover{
    background: rgba(67, 11, 54, 0.458);
    transition: all 0.3s ease;
}

.alert{
    width: 100%;
    background: #49243E;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
@media (max-width:1000px) {
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}
@media (max-width:900px) {
  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}