* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: url("SHEbg2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    background-color: #FFE6E6;
    position: absolute;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 1.8em 3em rgba(152, 29, 138, 0.333);
    display: flex;
  }
  .testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
  }
  .wrapper button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #49243E;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #FFE6E6;
    box-shadow: 0 0 1em rgba(131, 42, 133, 0.25);
    cursor: pointer;
    border-radius: 50%;
  }
  button#next {
    right: -1.1em;
  }
  button#prev {
    left: -1.1em;
  }
  .testimonial-container p {
    color: #49243E;
    text-align: center;
    font-size: 1.25em;
    line-height: 2em;
    letter-spacing: 0.05em;
    font-weight: 500;
  }
  .testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    width: 4.4em;
  }
  .testimonial-container h3 {
    color: #49243E;
    font-size: 1.7em;
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    .wrapper {
      font-size: 14px;
    }
  }