img{
	max-width: 100%;
}
.gallery{
	background-color: #49243E;
	padding: 80px 0;
}
.gallery img{
	background-color: #E1AFD1;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(179, 33, 174, 0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}