@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(SHEbg3.png);
    background-size: cover; 
    background-repeat: no-repeat
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    height: 500px;
    position: relative;
    cursor: pointer;
    margin: 20px;
}
.card .content{
    width: 100%;
    height: 100%;
    background: #FFE6E6;
    backdrop-filter: blur(20px);
    border: 1px solid #E1AFD1;
    color: #49243E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px #49243E;
    transition: all 0.3s;
}
.card .content p{
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
    text-align: center;
}
.card:hover .content{
    color: #171717;
}
.card::before,
.card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #E1AFD1;
    z-index: -20;
    transition: all 0.3s;
}
.card::before{
    top:0;
    right: 0;
}
.card::after{
    bottom:0;
    Left: 0;
    background: #E1AFD1;
}
.card:hover::before{
    width: 100px;
    height: 100px;
    transform: translate(50px, -50px);
    border-radius: 50%;
}
.card:hover::after{
    width: 150px;
    height: 150px;
    transform: translate(-85px, 85px);
    border-radius: 50%;
}
.socials > div {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .socials a {
    padding: 7px 7px;
    font-size: 1.25rem;
    color: #E1AFD1;
    background-color: #49243E;
    border-radius: 100%;
    transition: 0.3s;
  }

  .socials span {
    font-size: 1.1rem;
    color: #49243E;
    cursor: pointer;
  }
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffe6e6;
    background-color: #2b407e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  .back-button:hover {
    background-color: #6d4e8f;
  }